@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-img{
    height: 49px;
    width: 180px;
    display: flex;
    margin-left: 80px;

}
#menu{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background: rgba(236, 240, 236, 0.1);
}


header ul{
    list-style: none;
    display: flex;
    align-items:center;
    height: 100%;
    margin-left: 600px;

}

li{
   height: 30px;
    padding: 20px;
}
a{
    color: #555;
    text-decoration: none;
}

#img-capa{
    width:1340px;
    padding-top: 100px;
}

h1{
    font-size: 76px;
    color: white;
}
h2{
    font-size: 36px;
    color: white;
}
main{
   
}
body{
    padding-top: 40px;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 40px;
 
}
.gallery-items{
    width: 250px;
    height: 250px;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer img{
    height: 20px;
    width: 20px;
}

footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

footer p{
    text-align: center;
}

footer{
    background-color: rgb(228, 226, 226);
    height: 100px;
    width: 100%;
 
}
