@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-img{
    height: 49px;
    width: 180px;
    display: flex;
    margin-left: 80px;
    
}
#menu{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background: rgba(236, 240, 236, 0.1);
}


header ul{
    list-style: none;
    display: flex;
    align-items:center;
    height: 100%;
    margin-left: 600px;
    
}

li{
    height: 30px;
    padding: 20px;
}

a{
    color: #555;
    text-decoration: none;
}

nav a:hover{
    color: black;
    font-weight: 1000;
}

.container-topo{
    width:215vh;
    margin: auto;
    position: relative;
}

#img-capa{
    width:100%;
}

div h1{
    position: absolute;
    bottom: 200px;
    left: 80px;
    text-align: left;
    padding: 10px;
    font-size: 50px;
    color: rgb(248, 242, 242);
    text-transform: capitalize; 
}

h2{
    position: absolute;
    font-size: 22px;
    color:  rgb(248, 242, 242);
    bottom: 160px;
    left: 80px;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
}

body{
    padding-top: 120px;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 40px;
    
}
.gallery-items{
    width: 250px;
    height: 250px;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer img{
    height: 20px;
    width: 20px;
}

footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

footer p{
    text-align: center;
}

footer p b {
    padding: 15px;
}

footer{
    background-color: rgb(228, 226, 226);
    height: 100px;
    width: 100%;
    
}
